$bg: #1a1b26;
$bg-alt: #292e42;
$fg: #c0caf5;
$fg-alt: #a9b1d6;
$red: #f7768e;
$red-alt: #db4b4b;
$green: #9ece6a;
$green-alt: #98c379;
$yellow: #e0af68;
$yellow-alt: #ff9e64;
$blue: #7aa2f7;
$blue-alt: #61afef;
$purple: #9d7cd8;
$purple-alt: #c678dd;
$magenta: #bb9af7;
$magenta-alt: #ff007c;
$cyan: #7dcfff;
$cyan-alt: #4abaaf;
$gray: #565f89;
$gray-alt: #4e5173;
$white: #acb0d0;
$white-alt: #abb2bf;
