$bg: #222436;
$bg-alt: #2f334d;
$fg: #c8d3f5;
$fg-alt: #828bb8;
$red: #ff757f;
$red-alt: #c53b53;
$green: #c3e88d;
$green-alt: #4fd6be;
$yellow: #ff966c;
$yellow-alt: #ffc777;
$blue: #82aaff;
$blue-alt: #3e68d7;
$purple: #fca7ea;
$purple-alt: #ff007c;
$cyan: #86e1fc;
$cyan-alt: #4fd6be;
$gray: #7a88cf;
$gray-alt: #737aa2;
$white: #acb0d0;
$white-alt: #abb2bf;
