*.swp
.backup/nvim.version1/.DS_Store
.backup/nvim.version1/view/
.backup/nvim.version1/plugged/
.backup/nvim.version1/sessions/
.backup/nvim.version1/autoload/plug.vim.old
.backup/nvim.version1/tmp/
.backup/nvim.version1/.netrwhist
.backup/nvim.version1/_machine_specific.vim
.backup/nvim.version1/.vim-bookmarks
.backup/nvim.version1/ftplugin
.backup/nvim.version2/plugin/packer_compiled.lua
.config/nvim/plugin/packer_compiled.lua
.config/ranger/plugins/__pycache__/*
.config/ranger/plugins/__init__.pyo
.config/ranger/plugins/devicons.pyo
.config/ranger/plugins/devicons_linemode.pyo
.config/ranger/colorschemes/__pycache__/*
.config/ranger/colorschemes/__init__.pyo
.config/ranger/colorschemes/default.pyo
.config/ranger/folders.conf
.config/ranger/__pycache__/commands.cpython-39.opt-1.pyc
!.config/ranger/
.config/ranger/__pycache__/
.config/lazygit/*
!/.config/lazygit/config.yml
.emacs.d/auto-save-list/
.hammerspoon/Spoons
.config/tmux/extrakto/
.config/karabiner/automatic_backups/
.config/surge/*
*.log
.config/mpd/state
.config/polybar/.system
.config/clash/config.yaml
cache.*
.config/tmux/plugins
