*.swp
.config/nvim/plugin/packer_compiled.lua
.config/ranger/plugins/__pycache__/*
.config/ranger/plugins/__init__.pyo
.config/ranger/plugins/devicons.pyo
.config/ranger/plugins/devicons_linemode.pyo
.config/ranger/colorschemes/__pycache__/*
.config/ranger/colorschemes/__init__.pyo
.config/ranger/colorschemes/default.pyo
.config/ranger/folders.conf
.config/ranger/__pycache__/commands.cpython-39.opt-1.pyc
!.config/ranger/
.config/ranger/__pycache__/
.config/lazygit/*
!/.config/lazygit/config.yml
.emacs.d/auto-save-list/
.hammerspoon/Spoons
.config/tmux/extrakto/
.config/karabiner/automatic_backups/
.config/surge/*
*.log
.config/mpd/state
.config/polybar/.system
.config/clash/config.yaml
cache.*
.config/tmux/plugins
.config/nvim/sessions/
.config/polybar/gmail
.config/neomutt/accounts
.config/gtk-3.0/bookmarks
.config/mpv/watch_later
.config/clash/cache.db
