
{{- $interactive := stdinIsATTY -}}

{{- $name := "Your Name" -}}
{{- if $interactive -}}
{{-   $name = promptStringOnce . "name" "Your name?" -}}
{{- end -}}

{{- $email := "email@example.com" -}}
{{- if $interactive -}}
{{-   $email = promptStringOnce . "email" "Your email?" -}}
{{- end -}}


{{- $resolution := "0x0"}}
{{- if $interactive -}}
{{-   $choices := list "3840x2400" "3456x2160" -}}
{{-   $resolution = promptChoiceOnce . "resolution" "Your screen resolution?" $choices -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your data with `chezmoi init --data=false`.\n" -}}
{{- end -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}


data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  osid: {{ $osID | quote }}
  resolution: {{ $resolution | quote }}

encryption: age
age:
    identity: ~/.config/chezmoi/key.txt
    recipient: age10ycmnfajddq3zzeudhh0xmh4p63nspd8khtrstelhejg2dctncwsjgr7e8

merge:
  command: nvim
  args:
    - -d
    - "{{ "{{ .Destination }}" }}"
    - "{{ "{{ .Source }}" }}"
    - "{{ "{{ .Target }}" }}"
git:
  autoAdd: true
