{{ if eq .chezmoi.os  "linux" }}
[".config/clash/ui"]
  type = "git-repo"
  url = "https://github.com/Dreamacro/clash-dashboard.git/"
  refresh = "168h"
{{ end }}

{{ if ne .chezmoi.os "windows" }}
["Repos/tokyonight.nvim"]
  type = "git-repo"
  url = "https://github.com/folke/tokyonight.nvim.git/"
  refresh = "168h"

["Repos/tmux"]
  type = "git-repo"
  url = "https://github.com/tiagovla/tmux.git/"
  refresh = "0"

[".config/tmux/plugins/tpm"]
  type = "git-repo"
  url = "https://github.com/tmux-plugins/tpm.git/"
  refresh = "168h"

["Projects/clash"]
  type = "git-repo"
  url = "https://github.com/huwqchn/clash.git/"
  refresh = "0"
{{ end }}
