{{ if eq .chezmoi.os  "linux" }}
[".config/clash/ui"]
  type = "git-repo"
  url = "https://github.com/Dreamacro/clash-dashboard.git/"
  refresh = "168h"
{{ end }}

["tokyonight.nvim"]
  type = "git-repo"
  url = "https://github.com/folke/tokyonight.nvim.git/"
  refresh = "168h"
