export ALL_PROXY="http://127.0.0.1:7890"
export OPENAI_API_KEY={{ .openai_api_key }}
export HF_API_KEY={{ .hf_api_key }}
export AZURE_OPENAI_KEY={{ .azure_openai_api_key }}
export AZURE_OPENAI_ENDPOINT={{ .azure_openai_endpoint }}
