export ALL_PROXY="http://127.0.0.1:7890"
export OPENAI_API_KEY="{{ onepasswordRead "op://Development/OpenAI API Key/credential" .onepassword_account }}"
export HF_API_KEY="{{ onepasswordRead "op://Development/HF API Key/credential" .onepassword_account }}"
export AZURE_OPENAI_KEY="{{ onepasswordRead "op://Development/Azure Openai API Key/credential" .onepassword_account }}"
export AZURE_OPENAI_ENDPOINT="{{ onepasswordRead "op://Development/Azure Openai API Key/url" .onepassword_account }}"
