* {
  all: unset;
  transition: 200ms ease-out;
}

.main-window-box {
  background-color: $bg;
  font-family: "Sofia Pro", "JetBrainsMono Nerd Font", "Material Design Icons Desktop";
}

.date-box {
  background-color: $gray-alt;
  margin: 40px 40px 0px 40px;
  min-width: 580px;
  padding: 40px 20px 40px 20px;
  border-radius: 30px;
  color: $fg;
}

.time {
  font-family: "Sofia Pro";
  font-weight: bold;
  font-size: 200px;
}

.date {
  font-family: "Sofia Pro";
  font-size: 60px;
}

.weather-box {
  background-color: $gray-alt;
  margin: 40px 40px 0px 0px;
  padding: 40px 40px 40px 20px;
  border-radius: 30px;
  min-width: 400px;
}

.weather-desc {
  color: $gray;
  font-size: 40px;
}

.weather-temp {
  font-size: 68px;
  color: $fg;
  padding-top: 20px;
}

.weather-icon {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 120px;
}

.stats-box {
  background-color: $gray-alt;
  margin: 40px 40px 0px 40px;
  padding: 40px 70px 40px 50px;
  border-radius: 30px;
}

.stats-header {
  font-size: 44px;
  font-weight: bold;
  color: $gray;
}

.volume-icon,
.brightness-icon,
.cpu-icon,
.memory-icon {
  font-size: 48px;
  color: $fg;
}

.volume-scale trough, .brightness-scale trough, .cpu-scale trough, .memory-scale trough {
  all: unset;
  background-color: $gray;
  min-height: 20px;
  border-radius: 30px;
  margin-left: 20px;
}

.volume-scale highlight {
  background-color: $green;
  border-radius: 30px;
}

.brightness-scale highlight {
  background-color: $yellow;
  border-radius: 30px;
}

.cpu-scale highlight {
  background-color: $red;
  border-radius: 30px;
}

.memory-scale highlight {
  background-color: $blue;
  border-radius: 30px;
}

.critical-stuff-box {
  margin: 40px 40px 0px 0px;
  border-radius: 30px;
  background-color: $gray-alt;
  min-width: 410px;
}

.critical-notification-circle label {
  padding: 100px 100px 90px 100px;
}

.critical-notification-circle {
  color: $red;
  background-color: $gray;
  font-size: 80px;
  margin: 40px 40px 40px 40px;
}

.critical-notification-text {
  background-color: $red;
  color: $fg;
  border-radius: 0px 0px 30px 30px;
  padding: 20px 0px 20px 0px;
  font-size: 36px;
  font-weight: bold;
}

.music-art-box {
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 900px;
  min-height: 400px;
  border-radius: 34px;
  background-position: center;
  margin: 40px 0px 0px 40px;
}

.music-title {
  margin: 40px 0px 0px 40px;
  font-size: 56px;
  font-weight: bold;
  color: $fg;
}

.music-artist {
  margin: 20px 0px 0px 40px;
  font-size: 40px;
  color: $fg-alt;
}

.music-length {
  margin: 180px 0px 0px 40px;
  font-size: 36px;
  font-weight: bold;
  color: $fg-alt;
}

.music-stuff-box {
  min-height: 400px;
  border-radius: 30px;
  background: linear-gradient(to right, $bg-alt, transparent);
}

.music-controls-box {
  margin: 40px 0px 0px 40px;
  background-color: $gray-alt;
  padding: 0px 46px 0px 46px;
  border-radius: 30px;
  min-width: 76px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.music-next,
.music-previous {
  font-size: 60px;
}

.music-pp {
  font-size: 88px;
  color: $fg;
}

.music-next:hover,
.music-previous:hover,
.music-pp:hover {
  color: $orange;
}

.profile-stuff-box {
  margin: 40px 40px 0px 40px;
  background-color: $gray-alt;
  border-radius: 30px;
  padding: 30px 40px 30px 40px;
}

.profile-img {
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 180px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 1);
}

.profile-stuff {
  padding: 14px 0px 0px 60px;
  font-size: 44px;
  color: $fg;
}

.profile-name {
  font-weight: bold;
}

.seperator-box {
  background-color: $bg-alt;
}

.notification-headers {
  padding: 40px 90px 40px 64px;
  color: $blue;
}

.notification-headers-label {
  font-size: 56;
  font-weight: bold;
  font-family: Sofia Pro;
  text-shadow: 0px 0px 20px #000000;
  padding: 0px 320px 0px 320px;
}

.notification-card-eventbox {
  background-color: $gray-alt;
  border-radius: 30px;
}

.notification-headers-clear {
  margin: 40px 50px 50px 0px;
  background-color: $gray-alt;
  border-radius: 30px;
  padding: 30px 30px 26px 30px;
  font-size: 44px;
  font-weight: bold;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.notification-headers-clear:hover {
  background-color: $gray;
}

.notifications-empty-box {
  padding-left: 40px;
  padding-right: 40px;
}

.notifications-empty-label {
  padding-top: 20px;
  color: $red;
  font-size: 60px;
  font-weight: bold;
  padding-left: 160px;
  padding-right: 160px;
}

.notification-scroll-box {
  margin: 0px 32px 0px 32px;
}

.notification-card-box {
  padding: 40px 40px 40px 40px;
}

.notification-card-LOW {
  background-color: $gray-alt;
  color: $yellow;
  padding: 0px 20px 0px 16px;
  font-size: 60;
  border-radius: 30px;
}

.notification-card-NORMAL {
  background-color: $gray-alt;
  color: $blue;
  padding: 0px 20px 0px 8px;
  font-size: 60;
  border-radius: 30px;
}

.notification-card-CRITICAL {
  background-color: $gray-alt;
  color: $red;
  padding: 0px 20px 0px 16px;
  font-size: 60;
  border-radius: 30px;
}

.notification-card-OTHER {
  background-color: $gray-alt;
  color: $green;
  padding: 0px 20px 0px 8px;
  font-size: 60;
  border-radius: 30px;
}

.notification-summary {
  font-weight: bold;
  font-size: 44px;
  padding-bottom: 20px;
  color: $fg;
}

.notification-card-notify-close {
  color: $red;
  padding: 4px 4px 4px 4px;
  font-size: 44px;
}

.notification-body {
  color: $fg;
  font-size: 36px;
}

.notification-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 120px;
  border-radius: 20px;
  margin: 32px 0px 32px 40px;
}

.notification-card-header-box {
  background-color: $bg-alt;
  border-radius: 30px 30px 0px 0px;
  padding: 10px 40px 10px 40px;
}

.notification-app-name {
  font-size: 36px;
  font-weight: bold;
  color: $fg;
}
