#!/bin/sh

# if xdg directory is not set, set it to default
if [ -d "${HOME}/Download" ]; then
  xdg-user-dir-update
fi

# mkdir my custom directories
# mkdir Projects
if [ -d "${HMOE}/Projects" ]; then
  mkdir -p ${HOME}/Projects
fi

# mkdir Repos
if [ -d "${HMOE}/Repos" ]; then
  mkdir -p ${HOME}/Repos
fi

# mkdir Workspace
if [ -d "${HMOE}/Workspace" ]; then
  mkdir -p ${HOME}/Workspace
fi

# mkdir .backup
if [ -d "${HMOE}/.backup" ]; then
  mkdir -p ${HOME}/.backup
fi
