* {
  border: unset;
}

:root {
  --border-color: rgba(108, 112, 134, 0.4);
  --border-color-active: rgba(137, 180, 250, 0.9);
  --bg-color: rgba(16, 16, 32, 1);
  --bg-color-hover: rgba(49, 50, 68, 1);
  --border-radius: 12px;
}

.client-image {
  margin: 10px;
}

.client {
  font-size: 18px;
  font-weight: normal;
  font-family: monospace;

  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  border: 3px solid var(--border-color);
}

.client:hover {
  background-color: var(--bg-color-hover);
}

.client_active {
  border: 3px solid var(--border-color-active);
}

.workspace {
  font-size: 24px;
  font-weight: bold;

  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  border: 3px solid var(--border-color);
}

.workspace:hover {
  background-color: var(--bg-color-hover);
}

.workspace_special {
  border: 3px solid rgba(0, 255, 0, 0.4);
}

.workspace_active {
  border: 3px solid var(--border-color-active);
}

.monitor:hover {
  background-color: var(--bg-color-hover);
}

.window_active {
  border: 3px solid var(--border-color-active);
}

.window {
  padding: 2px;

  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  border: 3px solid var(--border-color);
}

.index {
  margin: 3px;
  padding: 2px 4px;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  background-color: transparent;
}

.client_active .index {
  font-size: 24px;
  color: var(--border-color-active);
}

.launcher {
  min-width: 520px;
  font-size: 1.3em;
}

.launcher-entry {
  margin: 6px;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 12px;
}

.launcher-list {
  margin-left: 2px;
  margin-right: 2px;
}

.launcher-item {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding-left: 6px;
  padding-right: 6px;
}

.launcher-item-selected {
  background-color: var(--bg-color-hover);
}
