@import "colorschemes";

* {
  all: unset;
}

window {
  color: $fg;
  font-family: "Iosevka Nerd font";
  font-size: 15px;
}

.bar {
  background-color: $bg;
  border-radius: 15px;
}

.launcher {
  font-size: 1.5em;
  button {
    color: $blue;
    margin: 0 0.5em 0 0.5em;

    &:hover {
      color: $blue-alt;
    }
  }
}

.workspaces {
  .workspace-button- {
    color: $gray;
  }
  .workspace-button0-,
  .workspace-button1-,
  .workspace-button2-,
  .workspace-button4-,
  .workspace-button3-,
  .workspace-button5-,
  .workspace-button6-,
  .workspace-button7-,
  .workspace-button8-,
  .workspace-button9- {
    color: $yellow;
  }
  .workspace-button0-0,
  .workspace-button1-1,
  .workspace-button2-2,
  .workspace-button3-3,
  .workspace-button4-4,
  .workspace-button5-5,
  .workspace-button6-6,
  .workspace-button7-7,
  .workspace-button8-8,
  .workspace-button9-9 {
    color: $blue;
  }
  .workspace-button-0,
  .workspace-button-1,
  .workspace-button-2,
  .workspace-button-3,
  .workspace-button-4,
  .workspace-button-5,
  .workspace-button-6,
  .workspace-button-7,
  .workspace-button-8,
  .workspace-button-9 {
    color: $blue;
  }
}

.layout {
  margin: 0 0 0 10px;
  color: $blue-alt;
}

.music-header {
  margin-left: 10px;
}

.music-body {
  margin-left: 5px;
}

.music-buttons {
  button {
    color: $green;
    min-width: 1em;
  }
}

.music-toggle-button {
  margin: 0 1em 0 1em;
}

.music-title {
  min-width: 5em;
}

.music-cover {
  border: solid 3px $white-alt;
  background-color: $white-alt;
}

@mixin bar-setup {
  all: unset;
  min-height: 0.3em;
  min-width: 5em;
  border-radius: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: rgba($white, 0.4);
}

.bar-normal scale trough highlight {
  all: unset;
  background-color: $blue-alt;
  border-radius: 10px;
}

.bar-normal scale trough {
  @include bar-setup;
}

.bar-highlighted scale trough highlight {
  all: unset;
  background-color: $white;
  border-radius: 10px;
}

.bar-highlighted scale trough {
  @include bar-setup;
}
