@import "colorschemes";

* {
  all: unset;
}

window {
  color: $fg;
  font-family: "Iosevka Nerd font";
  font-size: 15px;
}

.bar {
  background-color: $bg;
  border-radius: 15px;
}

.launcher {
  font-size: 1.5em;
  button {
    color: $blue;
    margin: 0 0.5em 0 0.5em;

    &:hover {
      color: $blue-alt;
    }
  }
}

.VPN {
  font-size: 1.2em;
  .VPN-true {
    margin-left: 0.5em;
    color: $green;
  }
  .VPN-false {
    margin-left: 0.5em;
    color: $gray-alt;
  }
}

.power {
  font-size: 1.5em;
  button {
    color: $red;
    margin: 0 0.5em 0 0.5em;

    &:hover {
      color: $red-alt;
    }
  }
}

.calendar {
  font-size: 18px;
  background-color: $bg;
  color: $blue;
  border-radius: 15;
  padding: 10px;
}

@mixin box-setup {
  background-color: $bg-alt;
  border-radius: 5px;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
}

.workspaces {
  @include box-setup;
  .workspace-button- {
    color: $gray;
  }
  .workspace-button0-,
  .workspace-button1-,
  .workspace-button2-,
  .workspace-button4-,
  .workspace-button3-,
  .workspace-button5-,
  .workspace-button6-,
  .workspace-button7-,
  .workspace-button8-,
  .workspace-button9- {
    color: $yellow;
  }
  .workspace-button0-0,
  .workspace-button1-1,
  .workspace-button2-2,
  .workspace-button3-3,
  .workspace-button4-4,
  .workspace-button5-5,
  .workspace-button6-6,
  .workspace-button7-7,
  .workspace-button8-8,
  .workspace-button9-9 {
    color: $blue;
  }
  .workspace-button-0,
  .workspace-button-1,
  .workspace-button-2,
  .workspace-button-3,
  .workspace-button-4,
  .workspace-button-5,
  .workspace-button-6,
  .workspace-button-7,
  .workspace-button-8,
  .workspace-button-9 {
    color: $blue;
  }
}

.layout {
  margin-left: 0.3em;
  color: $blue;
  font-size: 1.2em;
}

.music-header {
  margin-left: 0.5em;
}

.music-body {
  margin-left: 5px;
}

.music-buttons {
  button {
    color: $blue-alt;
    min-width: 1em;
  }
}

.music-toggle-button {
  margin: 0 1em 0 1em;
}

.music-title {
  min-width: 8em;
  color: $fg;
  font-family: "JetBrainsMono Nerd Font";
}

.music-cover {
  border: solid 2px $fg;
  background-color: $fg;
}

@mixin bar-setup {
  all: unset;
  min-height: 0.3em;
  min-width: 8em;
  border-radius: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: rgba($white, 0.4);
}

.bar-normal scale trough highlight {
  all: unset;
  background-color: $blue-alt;
  border-radius: 10px;
}

.bar-normal scale trough {
  @include bar-setup;
}

.bar-highlighted scale trough highlight {
  all: unset;
  background-color: $white;
  border-radius: 10px;
}

.bar-highlighted scale trough {
  @include bar-setup;
}

.time {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 1.5em;
  color: $fg;
}

.date {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 1.2em;
  color: $fg;
}

.weather-50d,
.weather-50n,
.weather-01d,
.weather-01n,
.weather-02d,
.weather-02n,
.weather-03d,
.weather-03n,
.weather-04d,
.weather-04n,
.weather-09d,
.weather-09n,
.weather-10d,
.weather-10n,
.weather-11d,
.weather-11n,
.weather-13d,
.weather-13n {
  font-weight: bold;
  font-size: 1.5em;
}

.weather-50d,
.weather-50n,
.weather-09d,
.weather-09n,
.weather-10d,
.weather-10n {
  color: $blue;
}

.weather-01d,
.weather-11n,
.weather-11d {
  color: $yellow;
}

.weather-01n {
  color: $purple;
}

.weather-02d,
.weather-02n,
.weather-03d,
.weather-03n,
.weather-04d,
.weather-04n {
  color: $white;
}

.weather-13d,
.weather-13n {
  color: $fg;
}

.weather-x {
  color: $gray-alt;
}

.weather-label {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 0.8em;
  color: $fg;
}

@mixin control-setup {
  font-family: "Material Design Icons Desktop, Feather, Grid Styles";
  font-size: 1.2em;
  min-width: 1.2em;
}

.controller {
  @include box-setup;
  .battery-Unknown {
    @include control-setup;
    color: $gray-alt;
  }
  .battery-Full,
  .battery-Charging,
  .battery-High {
    @include control-setup;
    color: $green-alt;
  }
  .battery-Medium {
    @include control-setup;
    color: $yellow;
  }
  .battery-Low {
    @include control-setup;
    color: $red-alt;
  }

  .brightness-High {
    @include control-setup;
    color: $yellow-alt;
  }
  .brightness-Low {
    @include control-setup;
    color: $blue-alt;
  }
  .brightness-Unknown {
    @include control-setup;
    color: $gray-alt;
  }
  .volume-Muted {
    @include control-setup;
    color: $red;
  }
  .volume-Unmuted {
    @include control-setup;
    color: $cyan-alt;
  }

  scale trough {
    all: unset;
    background-color: #22242b;
    box-shadow: 0 2px 3px 2px #06060b;
    border-radius: 16px;
    min-height: 10px;
    min-width: 70px;
    margin: 0px 10px 0px 0px;
  }
  .brightness-bar trough highlight {
    background-image: linear-gradient(
      to right,
      #e4c9af 30%,
      #f2cdcd 50%,
      #e0b089 100% * 50
    );
    border-radius: 10px;
  }
  .volume-bar trough highlight {
    background-image: linear-gradient(
      to right,
      #afcee0 30%,
      #a1bdce 50%,
      #77a5bf 100% * 50
    );
    border-radius: 10px;
  }

  .wifi--1,
  .wifi-0,
  .wifi-1,
  .wifi-2 {
    @include control-setup;
    color: $red;
  }

  .wifi-3,
  .wifi-4 {
    @include control-setup;
    color: $purple;
  }

  .wifi-5 {
    @include control-setup;
    color: $purple-alt;
  }
  .wifi-upload-speed-label,
  .wifi-download-speed-label {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 0.5em;
    color: $green-alt;
  }
}

.volume-indicator {
  border-radius: 15px;
  background-color: unset;
}

@mixin hardware-icon-setup {
  font-size: 1.1rem;
  padding-top: 0.1rem;
  font-family: "JetBrainsMono Nerd Font";
}

@mixin hardware-value-setup {
  font-family: "JetBrainsMono Nerd Font";
}

@mixin graph-setup {
  background-color: $bg-alt;
  border-radius: 5px;
  min-height: 1.3rem;
  border: solid 2px $fg;
}

.hardware {
  @include box-setup;
  margin: 0 0.5em 0 0.5em;
  .temperature-icon-low,
  .temperature-icon-medium,
  .temperature-icon-high,
  .temperature-icon-warning,
  .temperature-icon-critical {
    @include hardware-icon-setup;
  }

  .temperature-graph-low,
  .temperature-graph-medium,
  .temperature-graph-high,
  .temperature-graph-warning,
  .temperature-graph-critical {
    @include graph-setup;
  }

  .temperature-graph-low,
  .temperature-icon-low {
    color: $blue-alt;
  }

  .temperature-graph-high,
  .temperature-graph-medium,
  .temperature-icon-high,
  .temperature-icon-medium {
    color: $yellow;
  }

  .temperature-graph-warning,
  .temperature-icon-warning {
    color: $yellow-alt;
  }

  .temperature-graph-critical,
  .temperature-icon-critical {
    color: $red-alt;
  }

  .temperature-value-low,
  .temperature-value-medium,
  .temperature-value-high,
  .temperature-value-warning,
  .temperature-value-critical {
    @include hardware-value-setup;
  }

  .temperature-value-low,
  .temperature-value-medium,
  .temperature-value-high {
    color: $fg;
  }

  .temperature-value-warning {
    color: $yellow;
  }

  .temperature-value-critical {
    color: $red;
  }

  .CPU-icon-normal,
  .CPU-icon-warning,
  .CPU-icon-critical {
    @include hardware-icon-setup;
  }

  .CPU-graph-normal,
  .CPU-graph-warning,
  .CPU-graph-critical {
    @include graph-setup;
  }

  .CPU-graph-normal,
  .CPU-icon-normal {
    color: $cyan-alt;
  }

  .CPU-graph-warning,
  .CPU-icon-warning {
    color: $yellow-alt;
  }

  .CPU-graph-critical,
  .CPU-icon-critical {
    color: $red-alt;
  }

  .CPU-value-normal,
  .CPU-value-warning,
  .CPU-value-critical {
    @include hardware-value-setup;
  }

  .CPU-value-normal,
  .CPU-value-warning {
    color: $fg;
  }

  .CPU-value-critical {
    color: $red;
  }

  .RAM-icon-normal,
  .RAM-icon-warning,
  .RAM-icon-critical {
    @include hardware-icon-setup;
  }

  .RAM-graph-normal,
  .RAM-graph-warning,
  .RAM-graph-critical {
    @include graph-setup;
  }

  .RAM-graph-normal,
  .RAM-icon-normal {
    color: $magenta;
  }

  .RAM-graph-warning,
  .RAM-icon-warning {
    color: $yellow-alt;
  }

  .RAM-graph-critical,
  .RAM-icon-critical {
    color: $red-alt;
  }

  .RAM-value-normal,
  .RAM-value-warning,
  .RAM-value-critical {
    @include hardware-value-setup;
  }

  .RAM-value-normal,
  .RAM-value-warning {
    color: $fg;
  }

  .RAM-value-critical {
    color: $red;
  }

  .disk-graph-normal,
  .disk-graph-warning,
  .disk-graph-critical {
    @include graph-setup;
  }

  .disk-icon-normal,
  .disk-icon-warning,
  .disk-icon-critical {
    @include hardware-icon-setup;
  }

  .disk-graph-normal,
  .disk-icon-normal {
    color: $green-alt;
  }

  .disk-graph-warning,
  .disk-icon-warning {
    color: $yellow-alt;
  }

  .disk-graph-critical,
  .disk-icon-critical {
    color: $red-alt;
  }

  .disk-value-normal,
  .disk-value-warning,
  .disk-value-critical {
    @include hardware-value-setup;
  }

  .disk-value-normal,
  .disk-value-warning {
    color: $fg;
  }

  .disk-value-critical {
    color: $red;
  }
}
