/** Colors *******************************************/
$bg: #1a1b26;
$bg-alt: #16161e;
$fg: #c0caf5;
$fg-alt: #a9b1d6;
$red: #db4b4b;
$green: #9ece6a;
$yellow: #e0af68;
$orange: #ff9e64;
$blue: #7aa2f7;
$purple: #9d7cd8;
$cyan: #7dcfff;
$gray: #565f89;
$gray-alt: #292E42;

@import "./system-menu/eww.scss";
@import "./player/eww.scss";
@import "./misc/eww.scss";
@import "./main/eww.scss";
